/* standard slider selector */
.slider-box {
  position: relative;
  width: 100%;
  height: calc(100vh - 46px);
  overflow: hidden;
}

.slider-box-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.slider-box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slide animation, need global selector */
:global .slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

:global .slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease-in-out;
}

:global .slide-exit {
  opacity: 1;
  transform: translateX(0);
}

:global .slide-exit.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}
